{
	"root": true,
	"extends": ["./node_modules/@web-chapter/eslint"],
	"parserOptions": {
		"ecmaVersion": "latest",
		"sourceType": "module",
		"project": ["./packages/*/tsconfig.json"]
	},
	"overrides": [
		{
			"files": ["ui/**/*.{js,jsx,ts,tsx}"],
			"extends": ["./node_modules/@web-chapter/eslint"],
			"rules": {}
		},
		{
			"files": ["lib/**/*.{js,jsx,ts,tsx}"],
			"extends": ["./node_modules/@web-chapter/eslint"],
			"rules": {}
		}
	]
}
