.table__headArea {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table__searchInputContainer {
    width: 400px;
}

.table__searchInputContainer > div {
    width: 100%;
}

.loaderContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
